@import '../../index.scss';

.app_navbar {
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    &_brand {
        font-family: $font-brand;
        font-weight: bold;
        font-style : italic;
        cursor     : pointer;
        margin     : 0 3rem 0 0;
    }

    &_list {

        &_item {
            &_link {
                font-family         : $font-content;
                font-weight         : normal;
                font-size           : 18px;
                color               : grey;
                text-decoration-line: none;
                margin              : 0 2rem;
            }

            &_link:hover {
                color              : black;
                // background-color: #d9ead3;
                border-radius      : 0.2rem;
            }
        }
    }

    &_btn {
        cursor       : pointer;
        font-family  : $font-content;
        font-weight  : normal;
        font-size    : 18px;
        color        : black;
        border-radius: 0.3rem;

        &_user {
            font-family     : $font-content;
            font-weight     : normal;
            font-size       : 18px;
            color           : white;
            background-color: $basic-color-darkpurple;
            border-radius   : 0.3rem;
        }

        &_user:hover {
            color           : black;
            background-color: lightgrey;
            border-radius   : 0.3rem;
        }
    }

}

.tooltip-inner {
    // opacity         : 0.8 !important;
    color           : white !important;
    font-family     : $font-content !important;
    font-weight     : normal !important;
    font-size       : 18px !important;
    background-color: black !important;
}

.navbar-toggler {
    border   : none;
    outline  : none;
    font-size: 18px !important;

    &:focus,
    &:active,
    &-icon:focus {
        outline   : none;
        box-shadow: none;
    }
}

.dropdown-item {
    &:hover {
        font-family     : $font-content;
        font-weight     : normal;
        font-size       : 18px;
        color           : white;
        background-color: $basic-color-darkpurple;
        border-radius   : 0.3rem;
    }
}