@import '../index.scss';

._detail {
    &_font {
        font-family: $font-content;
        color      : $basic-color-darkpurple;
        font-size  : 18px;
        font-weight: bold;
        text-align : left;
        margin-left: 1rem;
        margin-top : 1rem;

        &_content {
            font-weight: lighter !important;
            text-align : left;
            margin-left: 1rem;
        }

    }

    &_hr {
        border-top: 1px solid $basic-color-darkpurple !important;
    }

    &_button_post {
        height          : 2.5rem;
        font-family     : $font-content;
        font-weight     : normal;
        font-size       : 18px;
        color           : white;
        background-color: $basic-color-darkpurple;
        border-radius   : 0.3rem;

        @media (min-width: 768px) {
            width: fit-content;
        }

        &:hover {
            color           : black;
            background-color: lightgrey;
            border-radius   : 0.3rem;
        }
    }
}

._profile {
    &_border {
        border-radius: 100%;
        width        : 20px;
        height       : 20px;
    }
}

._comment {
    font-family: $font-content;
    width      : 75%;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.share__socials {
    display: flex;
    gap    : 0 20px;
    cursor : pointer;
    
    &__icons {
        fill  : $basic-color-darkpurple;
        align-items: center;
        width : 30px;
        height: 30px;

        &:hover {
            fill: $basic-color-purple;
        }
    }
}