@import '../index.scss';

._detail {
    &_font {
        font-family: $font-content;
        color      : $basic-color-darkpurple;
        font-size  : 18px;
        font-weight: bold;
        text-align : left;
        margin-left: 1rem;
        margin-top: 1rem;

        &_content {
            font-weight: lighter !important;
            text-align : left;
            margin-left: 1rem;
        }

    }

    &_hr {
        color: $basic-color-green;
    }

    &_button{
        background-color: $basic-color-darkpurple;
        height: 2.5rem;
        
        @media (min-width: 768px){
            width: fit-content;
        }
    }
}

._profile{
    &_border{
        border-radius: 100%;
        width: 20px;
        height: 20px;
    }
}

._comment{
    width: 75%;

    @media (max-width: 768px){
        width: 100%;
    }
}