@import '../../index.scss';

._card {

    &_media{
        align-items: top;
        height: 300px;
        width: 100%;
    }

    &_title{
        margin-left: 0.5rem;
        font-family: $font-content;
        text-align: left !important;
    }

    &_cardsub{
        &_date{
            margin-left: 0.5rem;
            font-family: $font-content;
        }

        &_likes{
            margin-right: 0.5rem;
            font-family: $font-content;
        }
    }

    &_icon {
        margin-right: 10px;
        fill : #e13b6e;
        width: 50%;
    }
}