@import '../../index.scss';

.singleImage {
    padding      : 0 20px 20px;
    height       : 60%;
    width        : 60%;
    border-radius: 18px;

    @media (min-width: 768px) {
        height: 30%;
        width : 30%;
    }
}

.singleImage:hover {
    padding             : 5px;
    /* opacity          : .5; */
    transition          : 0.9s;
    transform           : scale(1.02);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.popupParent {
    position        : fixed;
    width           : 100%;
    height          : 100%;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    margin          : auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popupImage {
    position: absolute;
    left    : 25%;
    right   : 25%;
    top     : 25%;
    bottom  : 25%;
    margin  : auto;
}

.imageClosingButton {
    position: relative;
}